{% extends 'base.html.twig' %}

{% block title %}Listes Session{% endblock %}

{% block body %}
<h1>Listes Sessions</h1> 
    <table>
        <thead>
            <tr>
                <th>Session</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Formateur</th>
                <th>Places théoriques</th>
                <th>Places réservées</th>
                <th>Places restantes</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.name }}</a></td>
                <td>{{ session.beggin|date('d/m/Y') }}</td>
                <td>{{ session.end|date('d/m/Y') }}</td>
                <td>{{ session.trainer }}</td>
                <td>{{ session.nbPlace }}</td>
                <td>{{ session.students|length }}</td>
                <td>{{ session.nbPlace - session.students|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('new_session') }}"><button>Créer nouvelle session</button></a>
{% endblock %}
