{% extends 'base.html.twig' %}

{% block title %}Détail session: {{ session.name }}{% endblock %}

{% block body %}

<section="session">
    <div class="container session-detail">
        <h1>{{ session.name }} </h1> 
        <h2>Session du {{ session.beggin|date('d/m/Y') }} au {{ session.end|date('d/m/Y') }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Catégorie</th>
                    <th>Jours</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for program in session.programs %}
                <tr>
                    <td>{{ program.module.name }}</td>
                    <td>{{ program.module.category }}</td>
                    <td>{{ program.nbDay }}</td>
                    <td><a href="{{ path('remove_module_session', {'sessionId': session.id, 'moduleId': program.module.id }) }}"><img src="{{ asset('img/delete.png') }}" alt="Logo de suppression"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <h3>Modules non inscrits à la session</h3>
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Catégorie</th>
                    <th>Jour</th>
                </tr>
            </thead>
            <tbody>
                {% for nonModule in nonModules %}
                <tr>
                    <td>{{ nonModule.name }}</td>
                    <td>{{ nonModule.category }}</td>
                    <td>
                    <form method="post" action="{{ path('add_module_session', {'sessionId': session.id, 'moduleId': nonModule.id }) }}">
                        <input type="number" name="nbDay" min="1" max="5" value="1" style="width:60px;">
                        <input type="submit" value="+">
                    </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="students-in-session">
        <h2>Stagiaires inscrits</h2>
            <h3>Nombre d'inscrit: {{ session.students|length }}</h3>
            <h3>Nombre de places restantes: {{ session.nbPlace - session.students|length }}</h3>
                <h4>Formateur referent: {{ session.trainer }}</h4>

        {% for student in session.students %}
            <a href="{{ path('show_student', {'id': student.id}) }}">{{ student }}</a> 
            <a href="{{ path('remove_student_session', {'studentId': student.id, 'sessionId': session.id}) }}"><img src="{{ asset('img/delete.png') }}" alt="Icone de suppression"></a>
            <br>
        {% endfor %}
    </div>
    <div class="students-in-session">
    <h5>Stagiaires non inscrits</h5>
        {% for student in nonInscrits %}
            <a href="{{ path('show_student', {'id': student.id}) }}">{{ student }}</a> 
            <a href="{{ path('add_student_session', {'studentId': student.id, 'sessionId': session.id}) }}"><img src="{{ asset('img/add.png') }}" alt="Icone d'ajout"></a>
            <br>
        {% endfor %}
    </div>

    
<div class="buttons">
<button class="button-submit">
    <a href="{{ path('edit_session', {'id': session.id}) }}">MODIFIER</a>
</button>
<button class= "button-submit">
    <a href="{{ path('delete_session', {'id': session.id}) }}">SUPPRIMER</a>
</button>
<button class="button-submit">
    <a href="{{ path('app_session') }}">Retour à la liste</a>
</button>
</div>



</section>
{% endblock %}
